body {
    background-color: darkgrey;
}

.navbar {
    background-color: black;
}

.nav-link, .navbar-brand {
    color: white;
    font-weight: bold;
}
.navbar-brand {
    font-size: 30px;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    font-size: 25px;
}

.bi {
    color: #ff4f01;
}
.nav-link:hover {
    color: white;
    background: #ff4f01;
}

.navbar-nav {
    padding-left: 48%;
}

.navbar-brand {
    padding-left: 15%;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(233,238,241, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.cont {
    border-style: solid;
    border-color: white;
    border-width: 10px;
    background-color: black;
}

.sekcia {
    color: black;
    height: 80px;
    padding-top: 15px;

}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.text {
    border-style: solid;
    border-color: black;
    border-width: 10px;
    background-color: black;
    color: white;
}

.row {
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

.nav {

    justify-content: center;
}

.copy {
    text-align: center;
    font-weight: bold;
}
.border-bottom {
    background-color: black;
}

.img-fluid  {
    width: 100%;
    height: auto;
    padding-top: 15px;
}